
.page-center {
	background-image: url(../images/BG.png);
	background-size: cover;
	background-position: center center;  
	width: 900px;
	margin-top: 100px;
	
}
.headline {
/*	margin-left: 30%;*/
	margin-top: 0%;
	font-family:sans-serif;
	font-weight: 400;
	font-size: 35px;
	text-align: center;
	color: #fff;
}
.headline-text {
	font-family:sans-serif;
	font-weight: 200;
	margin-top: 14px;
	font-size: 35px;
	text-align: center;
}
.headline i {
	margin-top: 5%;
	font-weight: 700;
}
.column-container {
	margin-top:10%;
	text-align: center;
}
.column {
	float: left;
	width: 33.33%;
	color: #e2ddce;
	font-family:sans-serif;
	font-size: 10px;
	font-weight: 700;
}

.second-column-container {
	margin-top:2%;
	text-align: center;
}
.second-column {
	float: left;
	width: 33.33%;
	color: #fff;
	font-family:sans-serif;
	font-size: 20px;
}

.line {
	margin-top: 50px;
	width: 90%;
	background-color: #c9ba9f;
}

.submit {
	width: 190px;
	height: 40px;
	font-size: 10px;
	font-weight: 600;
	padding: 5px;
	border: none;
	color: #9e8f73;
}
.button {
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin-top: 30px;
	padding-bottom: 30px;
	
}
@media(max-width:986px){
	
	.headline-text {
	font-family:sans-serif;
	font-weight: 200;
	font-size: 20px;
	text-align: center;

}
	.second-column {
		float: left;
		width: 33.33%;
		color: #fff;
		font-family:sans-serif;
		font-size: 15px;
}	

}
@media(max-width:460px){


	.second-column {
		float: left;
		width: 33.33%;
		color: #fff;
		font-family:sans-serif;
		font-size: 9px;
}

}

